<h2 class="welcome">Welcome back to your Dashboard, {{username}}!</h2>

{{#each posts as |post| }}
<div class="container is-centered userPosts">
    <div class="card blogCards">
        <div class="card-content">
            <div class="content">
                <h4 id="title"><a data-id="{{post.id}}">{{post.title}}</a></h4><!--href="/dashboard/edit"*/-->
                <p class="has-text-center" id="postBody">{{post.post_body}}</p>
                <p class="has-text-right">{{format_date post.date_posted}}</p>
            </div>
        </div>
    </div>
</div>
{{/each}}

<div class="columns is-centered">
    <div class = "control">
        <button class ="button is-success is-medium" id="newpost"> + New Post </button>
    </div>
</div>

<script src="/js/dashboard.js"></script>