
<div class="container is-centered">
    {{#each posts as |post| }}
    <div class="card my-3 dashboardCard">
        <div class="card-content">
            <div class="content">
            <!-- Fill in content from database using Post model post_body-->
                <p class="title is-4"><a href="/posts/{{post.id}}"> {{post.title}}</a></p>
                <p class="homepageBody">{{post.post_body}}</p>
                <div class="userPostDashboard">
                    <p class="subtitle is-5">Posted by: {{post.user.username}} on {{format_date post.date_posted}}</p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<script src="/js/homepage.js"></script>
