<div class="container commentPost">
    <div class="card my-3">
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">{{title}}</p>
                    <p class="subtitle is-6">Posted by: {{user.username}} on {{format_date date_posted}}</p>
                </div>
            </div>
            <div class="content">
                <p>
                    {{post_body}}
                </p>
            <br>
                <div class="has-text-right">
                    <button class="button is-link" id="addComment" data-id="{{id}}"> + Add Comment </button>
                </div>
            </div>

        </div>
            {{#each comments as |comment| }}
            <div class="commentDiv">
                <p> {{comment.comment_body}} </p>
                <div class="commentUser">
                    <h2> Comment by: {{comment.user.username}} on {{format_date comment.date_posted}}</h2>
                </div>
            </div>
            {{/each}}
    </div>
</div>

<div class = "container makeComment hide">
    <form class = "box mx-6 my-6 formReveal">  
        <div class="field">
            <label class="label" for="commentBody">Comment</label>
            <div class="control">
                <textarea class="textarea" type="textarea" placeholder="Your Comment" id="commentBody"></textarea>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-link" id="submitComment" data-id="{{id}}">Submit</button>
            </div>
    </form>
</div>



<script src="/js/comment.js"></script>